Structured libraries list for each RFC

I might be able to PR this addition in the future, but I thought I would at least start listing them here if you're interested.

e.g. 

Language| RFC   | Link
------------|----------|-----------
|   Node   | RFC 7231 section 5.3.2: Accept              |  https://www.npmjs.com/package/content-type            
|   Node    |  RFC 7231, section 3.1.1.5: Content-Type         |  https://www.npmjs.com/package/accepts 
| Node | RFC 7396 | https://github.com/pierreinglebert/json-merge-patch


RFC 7807 
Java Sprint Boot: https://github.com/zalando/problem-spring-web
Java: https://github.com/zalando/problem
Python: https://github.com/cbornet/python-httpproblem
PHP: https://github.com/zendframework/zend-problem-details

Also for RFC7807
Ruby: https://github.com/nikushi/problem_details

JSON:API for PHP https://github.com/neomerx/json-api

There are RFCs for many HTTP headers.
There are web resource standards: URL, URN, URI, IRI, hash vs 301.
There are standards for metadata description too e.g. RDF, RDFS, OWL, etc.